@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest Riot:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';  
    
}
.regidor{
    font-family: 'Protest Riot';
    font-weight: 300;
    font-style: italic;
    margin-left: 5px;
}

.nav{
    top: 0;
    background: #293241;
    height: 80px;
    width: 100%;
    color: #fff;
    position: fixed;
    z-index: 100;
    opacity: 0.7;
}

.nav__mi{
    width: 80px;
    height: 100%;
}

.contenido{
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.nav__label, .nav__input{
    display: none;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    text-decoration: none;
    color: #fff;
    --clippy:polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .3s;
}

.nav__item::after{
    content: "";
    display: block;
    background-color: #fff;
    width: 90%;
    height: 3px;
    margin-top: 3px;
    border-radius: 15px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.nav__logo{
    font-size: 1.5rem;
    font-weight: 900;
}

.container{
    width: 90%;
    padding: 15px 20px;
    text-align: center;
    margin: auto;
}

.swiper {
    width: 100%;
    height: 530px;
    margin: 0 auto;
    margin-top: 80px;
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 30px;
    background: #fff;
    display: flex;  
    justify-content: center;
    align-items: center;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } 



.title__servicios{
    font-family: "Orbitron", sans-serif;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 6px;   
    
    
}
.servicios__container{
    padding: 35px 30px;
    display: flex;  
    justify-content: space-around; 
    width: 80%;
    margin: auto;
   
}

.servicios{    
    width: 100%;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply; */
}

.servicios__dias{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    box-shadow: 0 0 10px 1px black;
    transition: .5s;
}

.servicios__dias:hover{
    background-color: #989898;
    box-shadow: 0 0 15px 1px rgb(94, 87, 1);

}

.parrafo{
   padding-top: 15px;
   font-size: 14px;
}

.ver__iframe {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #29324198;
    display: flex;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
    transform: translateY(-100vh)
}

.mostrar__modal{
    opacity: 1;
    pointer-events: unset;
    transform: translateY(0);
}

.container__iframe, iframe{
    margin: auto;
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    text-align: center;
    
}
.img__closed{
    width: 50px;
    height: 50px;
    opacity: .8;
    background-color: #989898;
    border-radius: 50%;
    transition: 0.4s;
}

.img__closed:hover{
    background-color: transparent;
}

.redes__sociales{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px; 
    margin-top: 1.2rem;
    margin-bottom: 10px;
    width: 80%;
    height: 45px;
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply; */
    border-radius: 15px;
    position: relative;
}

.icon{
    display: flex;
    align-items: center;
}

.phone::after{
    content: "310705532";
    padding-left: 10px;

}
.media{
    display: flex;    
    gap: 30px;
}
.home::after{
    content: "Barrio Ecopetrol";
    padding-left: 10px;
}

/* contenido del libro */


.books{  
    padding-top: 10px;  
    width: 100%;
    height: 500px;  
    display: grid; 
    grid-template-areas: 
    "libro libro description"
    "libro libro description"; 
     
      
}

.container__book{
    grid-area: libro;
    /* background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;      */
}


.description{
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 200px;
    
    margin: 0 auto;    
    padding: 15px 20px;
    
}
.title__description{
    text-align: center;
    padding-bottom: 10px;
}
.paragragh__description{
    text-align: justify;
   
    
}


.parrafo__libro{
    margin-top: 10px;
    font-size: 14px;
    text-align: justify;
    
}

.container__book, .book-content{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container__book{
    width: 100%;
    height: 450px; 
       
}

.book-content{
    top: 5px;
    width: 65%;
    min-width: 380px;
    max-width: 472px;
    height: 400px;
    position: relative;
    perspective: 1000px;
    transition: 1s;
}

.book{
    position: absolute;
    width: 65%;
    height: 100%;
    transition: 1.3s;
    transform-style: preserve-3d;
    transform-origin: left;
    
}

.face-front, .face-back{
    width: 100%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
    
}

.face-front{
    box-shadow: inset 3px 10px 20px -7px black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    
}

.face-back{
    position: absolute;
    top: 0;
    left: 0;
    transform: translateZ(-1px) rotateY(180deg);
    box-shadow: inset -3px 10px 20px -7px black;
   }

#portada{
    background: url(../img/portada.jpg);
}

#portada-back{
    background: url(../img/portada.jpg);
}

#portada, #portada-back{
    background-size: 100% 100%;
}

/* clases que se agregan con js */

.trnsf{
    transform: translateX(80px);
}

.trnsf-reset{
    transform: translateX(0px);
}

@keyframes mover{
    25%{
        margin-left: 0%;
    }
    50%{
        margin-left: -100%;
    }
    70%{
        margin-left: -200%;
    }
    85%{
        margin-left: -100%;
    }
    
    100%{
        margin-left: -0%;
    }
}

@media (max-width:700px){

    .nav__label{
        display: block;
        cursor: pointer;
    }
    .nav__logo{
        font-weight: 400;
        font-size: 1.3rem;
    }

    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: rgba(47, 79, 79, 0.596);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    } 

    
    .servicios__container{
        display: flex;    
        flex-direction: column;
        align-items: center;
        gap: 30px;
                    
    }

    /* redes sociales */

    .redes__sociales{
        flex-direction: column;
        justify-content: space-between;
        height: max-content;
        gap: 20px;
        
    }

    .parrafo__libro{
        font-size: 12px;
    }

    .books{  
        grid-template-areas: 
        "description description"
        "libro libro";   
    }

    .book-content{
        width: 65%;
        width: max-content;
        min-width: 280px;
        max-width: 400px;
        height: 350px;
        
    }
    
    .container__book{
        grid-area: libro;
    }

    .paragragh__description{
        font-size: 11px;
    }
    
    
    .description{
        grid-area: description;
        width: 100%;
       
    }
    
   
    
}

